#quizzes-container h1 {
    color: #1E40AF;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50px; 
    font-weight: bold;
}


.catalogo-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px; 
    justify-items: center; 
    margin-top: 0;
}

.catalogo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 280px;
    height: auto;
    min-height: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.catalogo-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.catalogo-item img {
    width: 100%;
    max-width: 260px;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.catalogo-item h3 {
    font-size: 20px; 
    color: #333; 
    font-weight: 600; 
    margin: 10px 0 0 0; 
    text-align: center;
}

.catalogo-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}

.clickable-card {
    width: 100%;
    height: auto; 
    background-color: transparent; 
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 720px) {
    #quizzes-container h1 {
        font-size: 24px;
    }
    .catalogo-container {
        grid-template-columns: 1fr;
    }
    .catalogo-item {
        min-height: auto;
        padding: 15px;
    }
    .catalogo-item img {
        height: 150px;
        max-width: 100%;
    }
}
